#--------------------------------------------------------------------
# Application Exclusions
#--------------------------------------------------------------------
/vendor/
/node_modules/
!/writable/cache/
!/writable/cache/index.html
!/writable/logs/
!/writable/logs/index.html
!/writable/session/
!/writable/session/index.html
!/writable/uploads/
!/writable/uploads/index.html

# Ignore session files and logs
/writable/session/*
/public/writable/uploads/*
/writable/*

#--------------------------------------------------------------------
# Environment Configuration
#--------------------------------------------------------------------
.env
.env.test
.env.production

#--------------------------------------------------------------------
# IDE / Editor
#--------------------------------------------------------------------
.idea/
.vscode/
*.swp
*.swo

#--------------------------------------------------------------------
# OS Generated
#--------------------------------------------------------------------
.DS_Store
Thumbs.db

#--------------------------------------------------------------------
# Testing
#--------------------------------------------------------------------
/tests/_support/_generated/
writable/logs/log*
